html, body{
    height: 100%;
}
.container div{
    margin-top: 10px;
    margin-botton:10px;
}

.input-block{
    margin-bottom: 10px;
}

.blue-header{
    background-color: #337ab7;
    color: white;
}
.grey-header{
    background-color: lightgrey;
    color: dimgrey;
}

.blueicon{
    color:  #337ab7;
}

.blackicon{
    color: black;
}

.fix-header{
    height: 40px;
    padding: 5px;

}


.fix-header h2{
    padding: 15px;
    display: inline;

}
.icon-right{
    color: white;
    padding-right: 15px;
    padding-top:5px;
    font-size: 20px;
    height: 100%;
    float: right;
}

.icon-left{
    color: white;
    padding-left: 15px;
    padding-top:5px;
    font-size: 20px;
    height: 100%;
    float: left;
}

.form-titled h5{
    font-size: 20px;
    display: block;
    margin-top: 20px;
}

.white-list{
    padding-top: 20px;
}
.white-list li{
    color: #337ab7;
    border: 0;
    font-size: 15px;
}

.white-list p{
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .left-line{
        border-left: 1px solid lightgrey;
    }
}


.full-height{
    height: 95%;
}

.widget-block{
    position: relative;
    margin: 10px 10px 10px 10px;

}

.widget-block h1{
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    z-index: 1;
    font-size: 30px;
    margin-top: 0;
    margin-left: 0;
    word-wrap:break-word;

}
.widget-block h2{
    z-index: 1;
    font-size: 20px;
    margin-left: 0;
    word-wrap:break-word;
    margin-top: 20px;
}

.gadget{
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
    z-index: 1;
    font-size: 20px;
}
.widget-block img{
    width:100%;
}
