<div class="fixed-top fix-header grey-header">
    <a href="page-list.html"><span class="glyphicon glyphicon-chevron-left icon-left blackicon"></span></a>
    <h2>Edit Page</h2>
    <a href="page-list.html"><span class="glyphicon glyphicon-ok icon-right blackicon"></span></a>
</div>
<div class="container">
    <div class="form-titled"
    <form class="form-horizontal">
        <h5>Name</h5>
        <input type="text" class="form-control input-block" value="Blog Post" >
        <h5>Title</h5>
        <input type="text" class="form-control input-block" placeholder="Page Title">
        <a class="btn btn-danger btn-block" href="page-list.html" role="button">Delete</a>
    </form>
</div>
</div>

<div class="navbar-fixed-bottom fix-header grey-header">
    <a href="profile.html"><span class="glyphicon glyphicon-user icon-right blueicon"></span></a>
</div>
