
<div class="fixed-top fix-header grey-header">
    <a href="widget-list.html"><span class="glyphicon glyphicon-chevron-left icon-left blackicon"></span></a>
    <h2>Widget Edit</h2>
    <a href="widget-list.html"><span class="glyphicon glyphicon-ok icon-right blackicon"></span></a>
</div>
<div class="container">
    <form class="form-horizontal form-titled">
        <h5>Name</h5>
        <input type="text" class="form-control input-block" placeholder="Name">
        <h5>Text</h5>
        <input type="text" class="form-control input-block" placeholder="Text">
        <h5>URL</h5>
        <input type="text" class="form-control input-block" placeholder="URL"value="www.youtube.com/dshfh34324">
        <h5>Width</h5>
        <input type="text" class="form-control input-block" placeholder="Width">
        <a class="btn btn-danger btn-block" href="widget-list.html" role="button">Delete</a>
    </form>
</div>

<div class="navbar-fixed-bottom fix-header grey-header">
       <a href="profile.html"><span class="glyphicon glyphicon-user icon-right blueicon"></span></a>
</div>
