
<body>
<div class="fixed-top fix-header grey-header">
    <span class="glyphicon glyphicon-chevron-left icon-left"></span>
    <h2>Choose Widget</h2>
    <span class="glyphicon glyphicon-plus icon-right"></span>
</div>


<div class="container-fluid">
    <ul class="list-group white-list">
        <li class="list-group-item item-row">
            <a href="widget-heading.html"><h3>Header</h3></a>
        </li>
        <li class="list-group-item item-row">
             <a href="widget-image.html"><h3>Image</h3></a>
        </li>
        <li class="list-group-item item-row item-row-last">
             <a href="widget-youtube.html"><h3>YouTube</h3></a>
        </li>

    </ul>
</div>
</div>



<div class="navbar-fixed-bottom fix-header grey-header">
    <a href="profile.html"><span class="glyphicon glyphicon-user icon-right blueicon"></span></a>
</div>
