<div class="fixed-top fix-header grey-header">
    <a href="website-list.html"><span class="glyphicon glyphicon-chevron-left icon-left blackicon"></span></a>
    <h2>Pages</h2>
    <a href="page-new.html"><span class="glyphicon glyphicon-plus icon-right blackicon"></span></a>
</div>


<div class="container-fluid">
    <ul class="list-group white-list">
        <li class="list-group-item item-row">
            <a href="widget-list.html"><h3>Blog Post</h3></a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog icon-right"></span></a>
        </li>
        <li class="list-group-item item-row">
            <a href="widget-list.html"><h3>Blogs</h3></a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog icon-right"></span></a>
        </li>
        <li class="list-group-item item-row">
            <a href="widget-list.html"><h3>Homes</h3></a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog icon-right"></span></a>
        </li>
        <li class="list-group-item item-row">
            <a href="widget-list.html"><h3>About</h3></a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog icon-right"></span></a>
        </li>
        <li class="list-group-item item-row-last">
            <a href="widget-list.html"><h3>Contact Us</h3></a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog icon-right"></span></a>
        </li>
    </ul>
</div>
</div>



<div class="navbar-fixed-bottom fix-header grey-header">
    <a href="profile.html"><span class="glyphicon glyphicon-user icon-right blueicon"></span></a>
</div>